services:
  backend:
    build: .
    command: uvicorn app.app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.4
    ports:
      - "6379:6379"

  worker:
    build: .
    command: celery -A app.celery_app:celery_app worker --loglevel=info
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

volumes: 
  postgres_data: