services:
  backend:
    build: .
    command: uvicorn app.app:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy  # <--- Ждем готовности базы
      redis:
        condition: service_healthy  # <--- Ждем готовности редиса
    env_file:
      - .env
    volumes:
      - .:/app

  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:  # <--- Проверка жизни Postgres
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7  # Версии 8.4 пока нет, лучше использовать 7 (stable) или alpine
    ports:
      - "6379:6379"
    healthcheck:  # <--- Проверка жизни Redis
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  worker:
    build: .
    command: celery -A app.celery_app:celery_app worker --loglevel=info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - .:/app

volumes: 
  postgres_data: